; export_presets.cfg
; File cau hinh xuat game ra Android va iOS
; -----------------------------------------------------------
; TRUOC KHI EXPORT CAN:
;   Android: Cai Android Studio + Android SDK + JDK 17
;   iOS:     Can may Mac + Xcode
; -----------------------------------------------------------

[preset.0]

name="Android"
platform="Android"
runnable=true
dedicated_server=false
custom_features=""
export_filter="all_resources"
include_filter=""
exclude_filter=""
export_path="builds/android/leviathan_angler.apk"
patches=[]
encryption_include_filters=""
encryption_exclude_filters=""
encrypt_pck=false
encrypt_directory=false

[preset.0.options]

custom_template/debug=""
custom_template/release=""

; --- Package ---
gradle_build/use_gradle_build=true
gradle_build/gradle_build_directory="android"
gradle_build/android_source_template=""

package/unique_name="com.yourname.leviathanangler"
package/name="Leviathan Angler"
package/signed=true
package/classify_as_game=true
package/retain_data_on_uninstall=false
package/exclude_from_recents=false

; --- Version ---
version/code=1
version/name="0.1.0"

; --- Permissions ---
; Them sau neu can: INTERNET (cho Multiplayer/Marketplace)
user_permissions/access_network_state=true
user_permissions/internet=true

; --- Man hinh ---
screen/immersive_mode=true
screen/support_small=true
screen/support_normal=true
screen/support_large=true
screen/support_xlarge=true

; --- APK config ---
apk_expansion/enable=false

; --- Toi uu ---
graphics/opengl_debug=false

[preset.1]

name="iOS"
platform="iOS"
runnable=true
dedicated_server=false
custom_features=""
export_filter="all_resources"
include_filter=""
exclude_filter=""
export_path="builds/ios/leviathan_angler.ipa"
patches=[]
encryption_include_filters=""
encryption_exclude_filters=""
encrypt_pck=false
encrypt_directory=false

[preset.1.options]

custom_template/debug=""
custom_template/release=""

application/app_store_team_id=""
application/provisioning_profile_uuid_debug=""
application/code_sign_identity_debug="iPhone Developer"
application/export_method_debug="development"
application/provisioning_profile_uuid_release=""
application/code_sign_identity_release="iPhone Distribution"
application/export_method_release="app-store"
application/bundle_identifier="com.yourname.leviathanangler"
application/signature=""
application/short_version="0.1.0"
application/version="1"
application/name="Leviathan Angler"
application/info="Made with Godot Engine"

capabilities/access_wifi=false
capabilities/push_notifications=false

icons/iphone_120x120=""
icons/iphone_180x180=""
icons/ipad_76x76=""
icons/ipad_152x152=""
icons/ipad_167x167=""
icons/ios_marketing_1024x1024=""

orientation/landscape=false
orientation/portrait=true
orientation/landscape_left=false
orientation/landscape_right=false
orientation/portrait_upside_down=false
